<div appDynamicStyleBinding [styleProperties]="SubscriptionStyles" class="Bottom-Sheet">
  <div class="Header">
    <div class="col-md-11">
        <h4>Subscriptions</h4>
    </div>
    <div class="col-md-1">
      <span (click)="CloseBottomSheet()">&times;</span>
    </div>
  </div>

  <div class="body">
    <div class="container">
      <div class="row">
          <div class="Table-Container">
              <table class="table-responsive table-bordered table-hover data-Table">
                <thead>
                  <tr>
                    <th>
                      ID
                    </th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Usage</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let subscription of subscriptions.subscriptions">
                    <td>
                      {{subscription.id}}
                    </td>
                    <td>
                      {{subscription.name}}
                    </td>
                    <td>
                      {{subscription.type}}
                    </td>
                    <td class="t-l">
                      <span *ngIf="!subscription?.usage">N/A</span>
                      <span *ngIf="subscription?.usage">
                          <span *ngFor="let item of subscription?.usage">
                              <span *ngIf="item.type"><h5><b>Type :</b></h5> {{ item.type }}</span> <br>
                                <ul>
                                  <li>
                                      <span *ngIf="item.used"><h6>Used :</h6> {{ item.used }}</span><br>
                                  </li>
                                  <li>
                                      <span *ngIf="item.limit"><h6>Limit :</h6> {{ item.limit }}</span><br>
                                  </li>
                                </ul>
                          </span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
    </div>
  </div>
</div>