.Bottom-Sheet {
    width: 100%;
    height: 0%;
    background-color: white;
    transition: 0.5s;
    position: fixed;
    bottom: 0;
}

.Header h4 {
    display: inline;
    margin-left: 10px;
    /* color: white; */
    font-weight: 700;
}


.Header {
    padding: 18px;
    color: #6b6b6b;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    overflow: hidden;
}

.Table-Container {
    margin: 45px 0px 45px 0px;
}

.data-Table {
    width: 100%;
    cursor: pointer;
    color: #636363;
}

th, td {
    padding: 15px;
    font-size: 14px;
    text-align: center
}

h6, h5 {
    display: inline;
}

.t-l {
    text-align: left !important
}