<div class="Header-Section">
  <h4>Admin Dashboard</h4>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="Header">
          <i class="fa fa-gift" aria-hidden="true"></i>
          <h4>List of Offers</h4>
        </div>

        <div class="body">
          <div class="Table-Container">
            <table class="table-responsive table-bordered table-hover data-Table">
              <thead>
                <tr>
                  <th>
                    Offer ID
                  </th>
                  <th>Offer Name</th>
                  <th>Contract Starts On</th>
                  <th>Contract Ends On</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let offer of Offers.offers">
                  <td>
                    {{offer.id}}
                  </td>
                  <td>
                    {{offer.name}}
                  </td>
                  <td>
                    {{offer.contractStartDate}}
                  </td>
                  <td>
                    {{offer.contractEndDate}}
                  </td>
                  <td>
                    <span class="subsc" (click)="OpenSubscriptions(offer.id)">View Subscriptions</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<app-subscription-view-component  [OfferID]="OfferID" (isBottomSheetClosed)="isSubscriptionViewOpened = !$event" *ngIf="isSubscriptionViewOpened" [styles]="SubscriptionStyles"></app-subscription-view-component>