.Header-Section {
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
    font-family: 'Lato', sans-serif;
}

h4 {
    font-weight: 900;
    letter-spacing: 1px;
    color: #636363;
}

.card {
    padding: 20px;
    background-color: white;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.3);
    transition: 0.5s;
}


.card:hover {
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.3);
}

.Header {
    background-color: #00A4E1;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.fa {
    font-size: 18px;
}

.Header h4 {
    display: inline;
    margin-left: 10px;
    color: white;
    font-weight: 700;
}

.Table-Container {
    margin: 45px 0px 45px 0px;
}

.data-Table {
    width: 100%;
    cursor: pointer;
    color: #636363;
}

th, td {
    padding: 15px;
    font-size: 14px;
    text-align: center
}

.subsc {
    color: #00a4e1;
    font-size: 13px;
}

.subsc:hover {
    opacity: 0.8;
}